.target-col {
    -fx-padding: 1px;
}
.target-col-0 {
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}
.target-col-1 {
    -fx-min-width: 80px;
    -fx-max-width: 80px;
}
.target-col-2 {
    -fx-min-width: 55px;
    -fx-max-width: 55px;
}
.target-col-3 {
    -fx-min-width: 70px;
    -fx-max-width: 70px;
}
.target-col-4 {
    -fx-min-width: 55px;
    -fx-max-width: 55px;
}
.target-col-5 {
    -fx-min-width: 55px;
    -fx-max-width: 55px;
}