.target-col {
    -fx-padding: 1px;
}
.target-col-0 {
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}
.target-col-1 {
    -fx-min-width: 80px;
    -fx-max-width: 80px;
}
.target-col-2 {
    -fx-min-width: 55px;
    -fx-max-width: 55px;
}
.target-col-3 {
    -fx-min-width: 70px;
    -fx-max-width: 70px;
}
.target-col-4 {
    -fx-min-width: 55px;
    -fx-max-width: 55px;
}
.target-col-5 {
    -fx-min-width: 45px;
    -fx-max-width: 45px;
}
.target-col-6 {
    -fx-min-width: 55px;
    -fx-max-width: 55px;
}
.attacker-box {
    -fx-min-width: 45px;
    -fx-max-width: 45px;
    -fx-min-height: 190px;
    -fx-max-height: 190px;
}
.attacker-box-label {
    -fx-min-width: 45px;
    -fx-max-width: 45px;
    -fx-alignment: CENTER;
}
.attacker-name {
    -fx-min-height: 45px;
    -fx-max-height: 45px;
    -fx-min-width: 90px;
    -fx-max-width: 90px;
    -fx-rotate: -90;
    -fx-translate-x: -22.5px;
    -fx-alignment: LEFT CENTER;
}